# Available options:
# - alias
# - web
# - tab
#   - path n, where n is limited upto 5
#   - name
#   - addr
# - provides


alias unused-return-value  "Unused return value"
alias null-ptr-deref       "Null pointer dereference"
alias forbidden-function   "Forbidden function"
alias complex-function     "Complex function"
alias non-structural-cfg   "Non structural CFG"
alias recursive-function   "Recursive function"
alias hardcoded-socket-address "Hardcoded socket address"
alias memcheck-double-release  "Memory check: double free"
alias memcheck-out-of-bound    "Memory check: out of bound"
alias memcheck-use-after-release "Memory check: use after free"
alias untrusted-argument "Untrusted argument"
alias value-was-used-before-check "Unchecked Return Value to NULL Pointer Dereference"

web unused-return-value  "https://raw.githubusercontent.com/BinaryAnalysisPlatform/bap-toolkit/master/jpl-rule-14/descr"
web null-ptr-deref  "https://raw.githubusercontent.com/BinaryAnalysisPlatform/bap-toolkit/master/av-rule-174/descr"
web complex-function  "https://raw.githubusercontent.com/BinaryAnalysisPlatform/bap-toolkit/master/av-rule-3/descr"
web non-structural-cfg "https://raw.githubusercontent.com/BinaryAnalysisPlatform/bap-toolkit/master/av-rule-189/descr"
web recursive-function "https://raw.githubusercontent.com/BinaryAnalysisPlatform/bap-toolkit/master/jpl-rule-4/descr"
web memcheck-use-after-release "https://cwe.mitre.org/data/definitions/416.html"
web memcheck-double-release "https://cwe.mitre.org/data/definitions/415.html"
web forbidden-function "https://raw.githubusercontent.com/BinaryAnalysisPlatform/bap-toolkit/master/forbidden-symbol/descr"
web value-was-used-before-check "https://cwe.mitre.org/data/definitions/690.html"

tab unused-return-value (path 1) addr
tab null-ptr-deref name addr
tab complex-function name
tab non-structural-cfg name
tab recursive-function name
tab memcheck-use-after-release name locations
tab memcheck-double-release name locations
tab forbidden-function name
tab memcheck-out-of-bound name locations

provides unused-return-value jpl-rule-14
provides null-ptr-deref av-rule-174
provides forbidden-function (av-rule-17 av-rule-19 av-rule-20 av-rule-21)
provides forbidden-function (av-rule-22 av-rule-23 av-rule-24 av-rule-25)
provides forbidden-function (forbidden-symbol defective-symbol)
provides non-structural-cfg (defective-symbol jpl-rule-11 av-rule-189)
provides complex-function (av-rule-3 defective-symbol)
provides recursive-function (jpl-rule-4 defective-symbol)

provides hardcoded-socket-address primus-checks
provides memcheck-double-release primus-checks
provides memcheck-out-of-bound primus-checks
provides memcheck-use-after-release primus-checks
provides untrusted-argument primus-checks
provides value-was-used-before-check primus-checks